html, body {
  font-family: 'Heebo', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eee;
}

.blog-item h3 {
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  color: #21243D;
}

.blog-item p {
  background-color: red;
}

.blog-item .published-date {
  background-color: green;
}

.blog-item .category {
  background-color: blue;
}

#clickity {
  background-color: rgb(243, 202, 22);
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  /* border: 2px solid red; */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  /* margin: 10px; */
}

.card {
  background-color: #fff;
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.card .card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card .card-body div:nth-child(1) {
  font-weight: bold;
}

.card .card-body div:nth-child(2),
.card .card-body div:nth-child(3) {
  color: #666;
}